<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  
  <location allowOverride="true" inheritInChildApplications="true">
    <appSettings>
      <add key="HAConnectionString" value="Data Source=MYPC\SQLEXPRESS ; DataBase=eRecharge ; UID=sa;Password=password"/>
      <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    </appSettings>
  </location>
  <connectionStrings>
    <add name="HAConnectionString" connectionString="Data Source=MYPC\SQLEXPRESS ; DataBase=eRecharge ; UID=sa;Password=password"/>
  </connectionStrings>
  
  
</configuration>
